{
	"root": true,
	"env": {
		"browser": true,
		"es2020": true
	},
	"extends": [
		"eslint:recommended",
		"plugin:@tanstack/eslint-plugin-query/recommended",
		"plugin:@typescript-eslint/recommended",
		"plugin:react-hooks/recommended",
		"prettier"
	],
	"ignorePatterns": ["dist"],
	"parser": "@typescript-eslint/parser",
	"rules": {}
}
