{
	"tabWidth": 4,
	"useTabs": true,
	"semi": false,
	"singleQuote": true,
	"proseWrap": "always",
	"printWidth": 120,
	"arrowParens": "avoid",
	"bracketSameLine": true,
	"trailingComma": "all",
	"plugins": ["prettier-plugin-tailwindcss"]
}
