@layer editor-components, components, base;

@layer reset {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
  }

  body {
    font-family: "Inter", sans-serif;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    background-color: light-dark(hsl(221, 30%, 95%), hsl(221, 30%, 13%));
  }
}

@layer components {
  .sidebar {
    background: light-dark(hsl(218, 29%, 90%), hsl(218, 29%, 15%));
    border: solid 1px light-dark(hsl(218, 29%, 85%), hsl(218, 29%, 20%));
    color: #333;
    margin: 8px;
    border-radius: 8px;
    padding-top: 8px;
    padding-inline: 8px;
    min-height: 98svh;
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 25%;
    box-shadow: 0 8px 8px 2px hsla(221, 50%, 50%, 0.1);
  }

  .sidebar-item.active {
    background-color: light-dark(hsl(215, 100%, 95%), hsl(215, 100%, 10%));
  }

  .sidebar-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: light-dark(hsl(215, 100%, 15%), hsl(215, 100%, 90%));
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    transition:
      color 0.25s cubic-bezier(0.4, 0, 0.2, 1),
      background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
    padding-inline: 8px;
    padding-block: 4px;
    min-height: 36px;
    border-radius: 8px;
    cursor: pointer;
    line-height: 0;

    .icon {
      margin-right: 8px;
    }

    &:hover {
      color: light-dark(hsl(215, 100%, 25%), hsl(215, 100%, 85%));
      background-color: light-dark(hsl(215, 25%, 80%), hsl(215, 100%, 30%));
    }
  }

  .home {
    display: flex;
    flex-direction: row;
    gap: 2px;
  }

  .main {
    width: 75%;
  }

  [data-scope="menu"][data-part="content"] {
    display: none;
    flex-direction: column;
    opacity: 0;
    gap: 8px;
    translate: 0;
    color: light-dark(hsl(215, 100%, 15%), hsl(215, 100%, 87%));
    background-color: light-dark(hsl(220, 35%, 75%), hsl(221, 36%, 15%));
    color: light-dark(hsl(220, 75%, 15%), hsl(220, 75%, 80%));
    border-radius: 4px;
    border: solid 1px light-dark(hsl(220, 30%, 72%), hsl(219, 30%, 35%));
    cursor: pointer;
    transform-origin: top;
    transition:
      display 250ms allow-discrete,
      opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
      translate 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  [data-scope="menu"][data-part="content"][data-state="open"] {
    display: flex;
    opacity: 1;
  }

  @starting-style {
    [data-scope="menu"][data-part="content"][data-state="open"] {
      opacity: 0;
    }
  }

  [data-scope="menu"][data-part="trigger"] {
    display: inline flex;
    justify-content: center;
    align-items: center;
    padding-inline: 8px;
    padding-block: 4px;
    border-radius: 4px;
    border: solid 1px hsl(219, 100%, 85%);
    background-color: light-dark(hsl(220, 35%, 75%), hsl(221, 36%, 15%));
    color: light-dark(hsl(220, 75%, 15%), hsl(220, 75%, 80%));
    font-family: inherit;
    min-height: 36px;
    line-height: 0;
    white-space: nowrap;
    transition: background-color 0.25s ease;
    width: min-content;

    &:hover {
      background-color: light-dark(hsl(220, 35%, 55%), hsl(221, 36%, 20%));
    }

    .icon {
      color: light-dark(hsl(220, 75%, 5%), hsl(221, 75%, 81%));
      margin: 0;
    }
  }

  [data-scope="menu"][data-part="item"] {
    display: inline flex;
    align-items: center;
    padding-inline: 16px;
    padding-block: 8px;
    margin: 4px;
    border-radius: 4px;
    transition: background-color 0.25s ease;
    font-size: 14px;
    line-height: 0;
    cursor: default;

    &:hover {
      background-color: light-dark(hsl(220, 30%, 90%), hsl(218, 29%, 30%));
    }

    .icon {
      margin-right: 4px;
      color: light-dark(hsl(221, 75%, 25%), hsl(220, 75%, 80%));
    }
  }

  .button {
    display: inline flex;
    justify-content: center;
    align-items: center;
    padding-inline: 8px;
    padding-block: 4px;
    border-radius: 4px;
    font-family: inherit;
    border: solid 1px hsl(219, 100%, 72%);
    background-color: light-dark(hsl(220, 35%, 75%), hsl(221, 36%, 15%));
    color: light-dark(hsl(220, 75%, 15%), hsl(220, 75%, 80%));
    font-family: inherit;
    height: 24px;
    font-size: 12px;
    vertical-align: middle;
    white-space: nowrap;
    transition: background-color 0.25s ease;

    &:hover {
      background-color: light-dark(hsl(220, 35%, 55%), hsl(221, 36%, 20%));
    }

    .icon {
      color: light-dark(hsl(220, 75%, 5%), hsl(221, 75%, 81%));
      width: 14px;
      height: 14px;
      margin-right: 4px;
    }
  }

  [data-scope="toast"][data-part="root"] {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: solid 1px #eee;
    padding: 8px;
    min-width: 240px;
    min-height: 80px;
    border-radius: 4px;
    position: relative;
    box-shadow: 0 8px 8px 2px hsla(221, 50%, 50%, 0.1);
    overflow-wrap: anywhere;
    height: var(--height);
    opacity: var(--opacity);
    scale: var(--scale);
    translate: var(--x) var(--y) 0;
    z-index: var(--z-index);
    will-change: translate, opacity, height;
    transition-duration: 250ms;
    transition-property: opacity, translatex, scale, height;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  [data-scope="toast"][data-part="close-trigger"] {
    position: absolute;
    background: none;
    border: none;
    padding: 0;
    width: 4px;
    height: 4px;
    top: 4px;
    right: 24px;
  }
}

@layer typography {
  h1 {
    font-size: 32px;
    font-weight: 700;
    margin: 0;
    margin-bottom: 8px;
  }

  h2 {
    font-size: 24px;
    font-weight: 700;
    margin: 0;
    margin-bottom: 8px;
  }

  h3 {
    font-size: 20px;
    font-weight: 700;
    margin: 0;
    margin-bottom: 8px;
  }

  h4 {
    font-size: 16px;
    font-weight: 700;
    margin: 0;
    margin-bottom: 8px;
  }

  p {
    margin: 0;
    margin-bottom: 8px;
  }
}

@layer editor-components {
  .editor-container {
    margin: 0 auto 20px auto;
    border-radius: 2px;
    max-width: 600px;
    color: #000;
    position: relative;
    line-height: 20px;
    font-weight: 400;
    min-width: 100%;
    text-align: left;
    border-radius: 8px;
    min-height: 98vh;
    background-color: light-dark(hsl(218, 29%, 90%), hsl(218, 29%, 15%));
    box-shadow: 0 8px 8px 2px hsla(221, 50%, 50%, 0.1);
  }

  .editor-inner {
    margin-top: 8px;
    border-radius: 8px;
    min-width: 100%;
    min-height: 95dvh;
    max-width: 50%;
  }

  .editor-input {
    min-height: 150px;
    resize: none;
    font-size: 16px;
    position: relative;
    tab-size: 1;
    outline: 0;
    height: 100%;
    padding: 15px 10px;
    color: light-dark(hsl(206, 8%, 13%), hsl(206, 8%, 82%));
    caret-color: light-dark(hsl(206, 8%, 13%), hsl(0, 27%, 85%));
  }

  .editor-placeholder {
    color: #999;
    overflow: hidden;
    position: absolute;
    text-overflow: ellipsis;
    top: 15px;
    left: 10px;
    font-size: 16px;
    user-select: none;
    display: inline-block;
    pointer-events: none;
  }

  .editor-paragraph {
    margin: 0;
    margin-bottom: 8px;
    position: relative;
  }

  .editor-heading-h1 {
    font-size: 32px;
    font-weight: 700;
    margin: 0;
    margin-bottom: 8px;
    position: relative;
  }

  .editor-quote {
    font-style: italic;
    padding-left: 16px;
    border-left: 2px solid #ddd;
  }
}
